body {
    font-family: Times New Roman;
    margin: 0;
    background-color: rgb(235, 255, 220);
    padding: 0 5px;
}

.container {
    display: flex;
    align-content: space-between; /*distributes leftover space evely between items cross axis vertical usualy */
    flex-direction: column;
    

}
.container > p
{
    border: solid 5px;
    
}

p img{
    max-width: 100%; /*does not go out of bounds if container is smaller than the image*/
}

article p{
    font-size: 2em; 
    
    
}

.image-holder{
    background-color: white ;
}

@media (min-width: 1200px)
{
   
   .image-holder{
       width: 30em; /*so it would look nicer on big screens for the user to look*/
   }
    body {
        padding: 0px 10em;
    }
}