body {
    font-family: Times New Roman;
    margin: 0;
    background-color: rgb(235, 255, 220);
}

.container {
    display: flex;
    align-content: space-between; /*distributes leftover space evely between items cross axis vertical usualy */
    flex-direction: column;
    

}
.container > p
{
    border: solid 5px;
    
}

p img{
    max-width: 100%; /*does not go out of bounds if container is smaller than the image*/
}

article p{
    font-size: 2em; 
    
}

@media (min-width: 1200px)
{
   .image-holder img{
       width: 100%; /*this part change the width amd height to the paragraph size so it could be streched to the borders*/
       height: 100%; 
   }
}